{% extends 'base.html' %}
{% block title %}
    <title>About</title>
{% endblock %}
{% block content %}
    <div>
        <h1>Super Shop</h1>
        <article>
            We are probably the best shop in the world since 2020. Check us out! We are probably the best shop in the
            world since 2020. Check us out!We are probably the best shop in the world since 2020. Check us out!We are
            probably the best shop in the world since 2020. Check us out!We are probably the best shop in the world
            since 2020. Check us out!We are probably the best shop in the world since 2020.

            Check us out! We are probably the best shop in the world since 2020. Check us out!We are probably the best
            shop in the world
            since 2020. Check us out!We are probably the best shop in the world since 2020. Check us out!We are probably
            the best shop in the world since 2020. Check us out!We are probably the best shop in the world since 2020.
            Check us out!
        </article>
    </div>
{% endblock %}