<nav open class="navigation pure-menu custom-restricted-width">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a class="pure-menu-link" href="/">Main</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/shop/">Shop</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/about/">About</a></li>
{#        <li class="pure-menu-item"><a class="pure-menu-link" href="/news/">News</a></li>#}
        <li class="pure-menu-item"><a class="pure-menu-link" href="/contact/">Contact</a></li>
    </ul>
</nav>