{% extends 'base.html' %}

{% block content %}
    <table class="pure-table">
        <tr>
            {% for address in object_list %}
                {% if address.profile.user == user %}
                    <td>
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item">{{ address.address_line_1 }}</li>
                            <li class="pure-menu-item">{{ address.address_line_2 }}</li>
                            <li class="pure-menu-item">{{ address.city }} {{ address.zip_code }}</li>
                            <li class="pure-menu-item">{{ address.country }}</li>
                        </ul>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>

    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="{% url 'create_address' %}">add address</a></li>
    </ul>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}