{#{% extends 'base.html' %}#}
{#{% block title %}#}
{#    <title>Shop</title>#}
{#{% endblock %}#}
{#{% block content %}#}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
          integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
</head>
<body>
<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        {% for category in object_list %}
            {% if category.parent_category is None %}
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover"><a href="/products/search/?name__icontains=&description__icontains=&price_no_vat__lte=&price_no_vat__gte=&amount__lte=&amount__gte=&category__name=&category={{ category.pk }}"
                                                                                           class="pure-menu-link">{{ category.name }}</a>
                    <ul class="pure-menu-children">
                        {% for subcategory in object_list %}
                            {% if subcategory.parent_category == category %}
                                <li class="pure-menu-item">
                                    <a href="/products/search/?name__icontains=&description__icontains=&price_no_vat__lte=&price_no_vat__gte=&amount__lte=&amount__gte=&category__name=&category={{ subcategory.pk }}" class="pure-menu-link">{{ subcategory.name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
</body>
{#{% endblock %}#}