{% extends 'base.html' %}

{% block title %}
    <title>Find a product</title>
{% endblock %}

{#{% block navigation %}#}
{#    <div id="includedContent"></div>#}
{#{% endblock %}#}

{% block content %}
    <form method="get">
        {{ filter.form.as_p }}
        <input type="submit"/>
    </form>

    <ul class="pure-menu-list">
        {% for obj in filter.qs %}
            <li class="pure-menu-item"><img src="/images/{{ obj.image }}/"/> <a href="{% url 'product_details' obj.pk %}"> {{ obj.name }}</a> - ${{ obj.price_vat }}<br/></li>
        {% endfor %}
    </ul>
{% endblock %}