{% extends 'base.html' %}

{% block title %}
    <title>Shop</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(function(){
      $("#includedContent").load("categories/");
    });
    </script>
{% endblock %}

{% block navigation %}
    <div id="includedContent"></div>
{% endblock %}

{% block content %}
    <table class="pure-table">
    <tr>
    <td>
    <ul class="pure-menu-list">
        {% for product in object_list %}
            <li class="pure-menu-item"><a href="{% url 'product_details' product.pk %}" class="pure-menu-link">{{ product.name }}<img
                    src="/images/{{ product.image }}" width="50px" height="50px" alt="{{ product.name }}"
                    title="{{ product.name }}"/></a></li>
        {% endfor %}
    </ul>
    </td>
    <td>
        <a href="{% url 'product_search' %}">search</a>
    </td>
    </tr>
    </table>
{% endblock %}
